/* slides */

h1, h2 { display:block; text-align:center }
h1 { margin-top: 50px; }
h2 { color: #006600; }

.container {
  position:relative;
  width:920px;
  margin-left:auto;
  margin-right:auto;
}
.container a {
  color: #006600;
  font-weight:bold;
}
.outer {
  width:920px;
  margin:0px;
}
.inner {
  position:absolute;
  top: 0px;
  left: 0px;
  margin:0px;
}

#source {
  position:absolute;
  top: 800px;
  left: 0px;
  width:920px;
  padding: 4px 6px 4px 6px; 
  text-align:justify;
  color: #002276; background: #ffffdd; border: 1px dashed #002276;
  margin-bottom:100px;
}

.source_frame {
  width:915px;
  height:915px;
}

#slide_index {
  position:absolute;
  top: 695px;
  left: 440px;
}

.arrow_left {
  position:absolute;
  top:300px; 
  left:-32px;
}

.arrow_right {
  position:absolute; 
  top:300px; 
  left:920px;
}

.overview_image {
  width: 415px;
  margin: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.overview {
}

.lecture_title {
  font-size: 130%;
  font-weight:bold;
}

div .movie {
  _background-image:url('movie128.png');
  _background-repeat:repeat-x;
  margin:0px 0px 30px 0px;
}

.movie img {
  margin-left:7px;
  margin-right:1px;
  margin-top:0px;
  margin-bottom:0px;
  width: 117px;
  height: 88px;
  border: 1px solid #aaa;
  
  box-shadow: 3px 3px 5px #888888;
}

.movie a:hover {
  background-color: #fff;
}
