
body, td, th, input {
  font-family: arial, verdana, "trebuchet MS", helvetica, sans-serif;
  font-size:13px;
}

body, input {
  background-color: #ffffff; color: #000000;
  min-width: 640px; margin: 0px 0px 0px 0px; padding:0;
}

h1,h2,h3 span { display: none }
h3 { font-size: 15px; margin: 0 0 15px 10px; padding: 0; }
.year { font-size: 16px; margin: 15px 0 5px 10px; padding: 0; }
img { margin: 0; padding: 0; border: 0; } 
p, span { margin:0px 3px 8px 3px; padding: 0px 2px 0px 2px; display:block; }

acronym { border:none; }

a, a:visited { color: #3030bb; text-decoration: none; }
a:hover { color: #000000; background-color: #ffff88; text-decoration: none; }

ul {
  line-height: 1.5em; /* margin: .3em 0 .3em 3.2em; padding: 0; */
  list-style-type: square;
  list-style-image: url(images/bullet.png);
}
ol {
  line-height: 1.5em; margin: .3em 0 0 3.2em; padding: 0;
  list-style-image: none;
}

#container {
  max-width:1030px; margin:0 auto; padding: 15px 15px 20px 0px;
  background-color: #eeeeee; position:relative;
  text-align:left;
}

/* top */
#pageHeader { height:90px; margin:0px 0 0 20px; background:url(images/top_lilac.jpg) no-repeat; }

/* footnote */
#footer { display:none; max-width:1010px; margin:30px 10px 0 10px; text-align:center; padding: 0;}
#footer a {
  text-decoration:none; color:#888888; background-color:#dfdfdf; 
  border:1px solid #bdbdbd; 
  padding:3px 3px; height:100%;
}
#footer a:hover{ background-color:#ebebeb; color:#777777; }
#footer p { display: inline; margin: 0px 30px 0px 30px; }

/* navigation bar */
#navigation_bar { position:absolute; top:125px; width:217px; margin-left:21px;} // left:21px;
#navigation_bar li { list-style:none; padding:6px 0 10px 0; background:url(line.png) bottom repeat-x; }
#navigation_bar li a { padding-left:7px; background:url(link.png) left center no-repeat; text-decoration:none; }
#navigation_bar li a:hover, #navigation_bar :link:hover, #navigation_bar :visited:hover {
  color: #fff; text-decoration: none;
  background: transparent url("images/navigation_item_hover.jpg") no-repeat top left; 
}
#navigation_bar :link, #navigation_bar :visited { color: #000; }
#navigation_bar :link:active, #navigation_bar :link:active { color: #000; }

/* info box */
#info {
  max-width:785px; margin:20px 0px 0px 245px; padding: 0; display: block;
  background: #ffffff url("images/info_r.png") right repeat-y;
}
#info .top {
  margin: 0; padding: 0; height: 14px; line-height: 0.1; font-size: 1px;
  background: transparent url("images/info_tr.png") no-repeat top right;
  display: block;
}
#info .bottom {
  margin: 0; padding: 0; height: 14px; line-height: 0.1; font-size: 1px;
  background: transparent url("images/info_br.png") no-repeat bottom right;
  display: block;
}
#info .inner {
  margin: 0px 0px 0px 0px; padding: 10px 20px 6px 20px; display: block;
  background: transparent url("images/info_back.png") top right repeat-x;
}

/* navigation */
#navigation {
  margin:0 0 0 0;
  background: #ffffff url("images/navigation_r.png") right repeat-y;
}
#navigation .top {
  margin: 0; padding: 0; height: 14px; line-height: 0.1; font-size: 1px;
  background: transparent url("images/navigation_tr.png") no-repeat top right;
  display: block;
}
#navigation .bottom {
  margin: 0; padding: 0; height: 22px; line-height: 0.1; font-size: 1px;
  background: transparent url("images/navigation_br.png") scroll no-repeat bottom right ;
  display: block;
}
#navigation .inner {
  margin: 0px 8px 0px 0px; padding: 0; display: block;
}

#navigation ul { margin: 0; padding: 0; list-style: none; }
#navigation li { display: inline; padding: 0; margin: 0; }

#navigation li span, #navigation li a {
  display: block; margin: 0; padding: 6px 5px;
  color: #000; background: transparent url("images/navigation_item.jpg") no-repeat top left; font-weight: bold;
  border-bottom: 1px solid #a2af96; border-top: 1px solid #c2cfb6; border-right: 1px solid #a2af96;
}
#navigation li li span, #navigation li li a { padding: 1px 0px 1px 20px; font-weight: normal; }
#navigation li li li span, #navigation li li li a { padding: 4px 8px 4px 40px; }

/* misc */
.small {
  font-size: 85%;
}
.code{
  margin: 20px; padding: 4px 6px 4px 6px; 
  text-align:justify;
  color: #002276; background: #ffffdd; border: 1px dashed #002276;
}
.formula{
  margin: 5px;
  padding: 4px 6px 4px 6px; 
  color: #002276; background: #ffffdd; border: 1px dashed #002276;
  font-size: 100%;
}
.verb{
  font-family: Courier New, Courier;
  color: #002276;
}
.emph {
  font-weight: bold; color: #002276;
}
.paperTitle, a.paperTitle {
  text-decoration:none; color: #006600; font-weight: bold;
}
.author, .author:visited{
  /* text-decoration:none; color: #000000; */
}

.lecture {
  margin-top:50px;
}

.lecture_title {
  color: #002276;
  font-size: 130%;
  font-weight:bold;
}

.overview a {
  color: #006600;
  font-weight:bold;
}

div .movie {
  _background-image:url('movie128.png');
  _background-repeat:repeat-x;
  margin:20px 20px 40px 40px;
}

.movie img {
  margin-left:7px;
  margin-right:1px;
  margin-top:0px;
  margin-bottom:0px;
  width: 117px;
  height: 88px;
  border: 1px solid #aaa;
  
  box-shadow: 3px 3px 5px #888888;
}

.movie a:hover {
  background-color: #fff;
}
